export(data.restore, lookup.xport, read.dbf, read.dta, read.epiinfo,
       read.mtp, read.S, read.spss, read.ssd, read.systat, read.xport,
       write.dbf, write.dta, write.foreign)

# not exported: SModeNames writeForeignStata writeForeignSPSS
