export(data.restore, lookup.xport, read.dta, read.epiinfo, read.mtp,
       read.S, read.spss, read.ssd, read.xport, write.dta, write.foreign)

# not exported: SModeNames writeForeignStata writeForeignSPSS
